<h1>British Brass Banding:<br />Tradition and Practice</h1>

<h2>The Modern British Brass Band</h2>

<h2>History of Brass Banding</h2>

<p>
	Before the 19th century there were only three types of horns- the trombone, the trumpet and the French Horn.  The trombone being the most prestigious because of the variety of possible notes.  The other two horns were more simple. Constructed out of bent tubes with fixed length, the notes that could be played were more limited.  19th century cornets were different than we know them today.  They were made of wood and although the mouthpiece was shaped the same, it had holes like a recorder. 
</p>

<p>
	Bands in general started appearing around 1757, and began to explode in 1790.  The average band in those years had a variety of instruments.  Along with percussion, the most common were trumpets, clarinets, fifes and flutes on the upper parts, and French Horns, bassoons, and trombones on the lower parts.  Prior to the 17th century, there were very few professional brass players, and those that did exist lived primarily in London.  In the 1830’s there were village bands, and that was really the start of the brass bands.  During the next 20 years or so, the brass instruments became much more popular.  People don’t know for sure, but they think it was because the cornet was easy to hold; it only required one hand compared to two hands for a violin or a flute.  By 1860 there were over 750 brass bands between England, Scotland and Wales.
</p>

<p>
	There is much discussion about which "real" brass band was founded first, but two are agreed upon as having the longest traditions:  The Bessies O' The Barn Brass Band and the Black Dyke Mills Brass Band.  Both bands played mostly from memory.  The tunes were passed down from generation to generation, with sheet music being very hard to come by.  Brass bands were developed to be played in military groups, villages and churches.  Church bands were very popular from 1780-1830.  Obviously these were real musicians, which promoted the practice of actually reading sheet music.  The alternative was learning the tunes by sitting next to someone, listening and memorizing.  The most common instruments in the church bands however were still strings and woodwinds, like violins, flutes and oboes.  At this point they were not yet true brass bands.
</p>

<p>
	Military bands were composed of officers, and had no more than 10 players.  Sometimes, one private was allowed to play, but no more!  In 1869, bands still played with ten members, just like the military bands over 100 years before them.  A typical band had five or six cornets, a euphonium, a bombardon, a tuba-like instrument, a side drum, or snare, and a bass drum.  As the bands grew they added more cornets, baritones, and trombones.  The first Salvation Army band was formed in 1878.  It was a father and his 3 sons.  It became so popular so quickly, that by 1882, just 5 years later, it was estimated that there were hundreds of bands and over 5000 musicians playing in them.
</p>

<p>
	Brass band music was not the most popular in the 1930’s and 40’s.  Sir Thomas Beecham, an accomplished British conductor, referred to the brass band as "that superannuated, obsolete, beastly, disgusting, horrid method of making music."  Up until then, the rise and fall in popularity was due in part to only the men, because only men were allowed to play.  It was in the 1930’s that bands started to allow women to play.  Just as a lack of men allowed women to enter the workforce during the war, vacancies in brass bands began to be filled by female musicians.
</p>

<p>
	With the increase in train travel in the 19th century, band competitions became more common.  They grew in popularity as today, just about every community in England, Scotland and Wales have brass bands, they want to know who is the best.  By 1960 or so, it is estimated that there were probably 2600 bands in existence. Currently there are over 230 contests throughout England to determine the best brass band.  That's over 4 contests a week on average!  Many of the bands have origins prior to 1900. Originally the bands were funded by coal mines, mills, and many today retain corporate sponsorship. To this day, the bands use only non-professional musicians.
</p>

<p>
	English brass bands are also popular in Japan, Australia and New Zealand; and in recent years a large number of brass bands have started in several European countries. There are presently several hundred brass bands in North America, and it is not only exciting to see the tradition making a return, but also such a valuable and unique contribution to the rich musical heritage of this country.
</p>
