<h1>Contacts</h1>
<ul>
	<li><%= mail_to 'president@madisonbrass.com', 'Gina Braun' -%>, President</li>
	<li><%= mail_to 'director@madisonbrass.com', 'Craig Mason' -%>, Musical Director</li>
	<li><%= mail_to 'booking@madisonbrass.com', 'Dave Braun' %>, Booking Coordinator</li>
	<li><%= mail_to 'webmaster@madisonbrass.com', 'Bertrant Lanher' -%>, Webmaster</li>
</ul>

Madison Brass Band is operated and cared-for by its own members. We are an active organization with a functioning board, and we will make every effort to return your inquiry. Thanks for your interest!
