<h1>Overview</h1>

<p>
	Madison Brass Band is a performing ensemble in the British Brass Band tradition. All of the instruments played by our (more or less) 35 members are either brass or percussion, though the literature we perform includes all of: marches, orchestral transcriptions, show music and contest music. The musicians of the band are all volunteers; several are music educators, only one or two are professional musicians. The group nonetheless seeks to perform at a professional level, and continues to establish itself as one of the premier brass ensembles in Wisconsin.
</p>

<p>
	The band is always looking for performance opportunities, subject to our availability. Interested parties are encouraged to contact us to find out more! In addition, we are always seeking new musicians either to fill a spot in the ensemble or for our active sub list. Interested players of all levels are <em>always</em> welcome and encouraged to observe our rehearsals and see if this is the group for them (we'd love to meet you, too!). Players interested in auditioning the group are invited to <%= mail_to 'contact the musical director', 'director@madisonbrass.com' -%> and review our audition procedures.
</p>
